.section3 {
  &__wrapper {
    margin-bottom: 72px;
  }
  &__container {
    width: 1240px;
    height: 800px;
    background-color: white;
    display: grid;
    grid-template-columns: 605px 605px;
    grid-template-rows: 210px 210px 210px;
    grid-gap: 30px;
  }
}
.card3 {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.card3__left {
  width: 210px;
  height: 51px;
  position: absolute;
  top: 78px;
  left: -80px;
  transform: rotate(90deg);
  background: #0b7572;
}
.card3__right {
  margin-left: 83px;
  margin-top: 32px;
  display: flex;
}
