.what{
  max-width: 1240px;
  height: 453px;
  background-color: #0B7572;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  &__left{
    width: 200px;
    height: 453px;
    position: relative;
    
    &--one{
      width: 450px;
      height: 500px;
      background-color: #0B7572;
      position: absolute;
      bottom: 0%;
      transform: skew(30deg);
     
    }
    &--curtain{
      width: 450px;
      height: 500px;
      background-color:rgba(11, 117, 114, 0.3);;
      position: absolute;
      bottom: 0%;
      left: 20%;
      transform: skew(30deg);
    }
  }
  &__right{
    width: 1040px;
    height: 453px; 
  }
 
}
@media only screen and (max-width: 768px) {
  .what{
    width: 768px;
    height: 383px;
    &__left{
    
      
      &--one{
     
       
      }
      &--curtain{
     
      }
    }
    &__right{
      
    }
   
  }
}
@media only screen and (max-width: 375px) {
  .what{
    display: none;
    &__left{
      display: none;
      

    }
    &__right{
      display: none;
    }
   
  }
}